---
import ProductCard from "../../components/products/ProductCard.astro";
import { getAllProductsForAllUsers } from "../../services/getAllProducts";
import { getWhoisData } from "../../services/whois";
import Header from "../../components/header/Header.astro";
import Footer from "../../components/landing/Footer.astro";
const jwt = Astro.cookies.get("jwt");
let userData;
let articleData: any = [];

if (jwt != undefined) {
  userData = await getWhoisData(jwt.value);
  console.log(userData);
  articleData = await getAllProductsForAllUsers(jwt.value, articleData);
  console.log(articleData);
}

//Cargar imagenes a: https://freeimage.host/
---

<html>
  <head>
    <title>Products</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <Header />
  <body>
    <section
      class="flex flex-col items-center mb-36 max-w-7xl px-4 m-auto related"
    >
      <h1 class="text-center text-5xl pb-12">Products</h1>
      <div class="grid gap-12 md:grid-cols-2 lg:grid-cols-3">
        {
          articleData?.map((article: any) => (
            <>
              <ProductCard
                href={`/inventory/${article.id}`}
                id={article.id}
                name={article.name}
                sDescription={article.sDescription}
                price={article.price}
                imageData={article.imageData}
              />
            </>
          ))
        }
      </div>
    </section>
    <Footer id="footer" />
    <style>
      body {
        background-color: #0d0f14; /* Color de fondo blanco */
        background-image:
          linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
          /* Líneas verticales */
            linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px); /* Líneas horizontales */
        background-size:
          20px 20px,
          20px 20px; /* Tamaño de las celdas de la cuadrícula */
        background-repeat: repeat, repeat; /* Repetición de gradientes para formar la cuadrícula */
        margin: 0; /* Elimina el margen predeterminado del body */
        color: #fff;
      }

      .link {
        background-color: white;
        z-index: 1;
        opacity: 0;
      }
    </style>
  </body>


</html>
